<h2 mat-dialog-title>Lorem Ipsum</h2>
<mat-dialog-content class="mat-typography">
  <h3>Lorem Ipsum</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet
    metus eu pellentesque dignissim. Pellentesque eget arcu lorem. Donec
    vulputate, sem vel egestas pharetra, lectus risus molestie velit, sed porta
    urna libero a mi. Pellentesque habitant morbi tristique senectus et netus et
    malesuada fames ac turpis egestas. Sed commodo nulla in iaculis hendrerit.
    Quisque vestibulum ligula felis, convallis efficitur libero consectetur
    eget. Cras at placerat tortor. Etiam mattis odio ut condimentum ornare.
    Donec non nisl sed nibh tristique consectetur. Curabitur nec consequat mi.
    Nullam gravida, diam sed aliquet blandit, est ex finibus purus, a ultricies
    diam sapien a turpis. Proin porttitor sit amet mauris id sollicitudin. Nunc
    lacinia condimentum nulla, tempus rhoncus lectus dictum in. Nunc nisl ex,
    molestie in tortor in, dapibus rhoncus magna. Suspendisse luctus augue eu
    tincidunt eleifend. Proin vel elit vel lacus iaculis laoreet in id erat.
    Morbi vulputate congue accumsan. Pellentesque volutpat metus ut orci
    imperdiet sollicitudin. Morbi lobortis imperdiet eros eu ultricies. In
    tristique scelerisque purus quis pellentesque. Curabitur in risus id nisi
    fermentum commodo. Ut id ex a dolor tristique faucibus. Cras mattis nunc sit
    amet augue placerat, non mollis neque tristique. Duis elementum neque purus,
    id faucibus ex tincidunt ac. Etiam ornare nibh nulla, id dignissim urna
    molestie id. Aenean eu arcu id mauris egestas mattis. Nullam hendrerit
    tristique lorem sed hendrerit. Sed tristique orci et velit iaculis interdum.
    In dui elit, accumsan in nibh ac, semper porta tellus. Suspendisse rhoncus
    est et nulla eleifend, aliquam semper leo mollis. Nam vulputate lacus non
    urna pretium, ac varius justo eleifend. In posuere condimentum laoreet.
    Vestibulum est dui, porta sed urna sed, fringilla ullamcorper justo.
    Pellentesque pellentesque ac libero et iaculis. Sed vitae ornare eros. Etiam
    at ipsum tellus. Integer sollicitudin orci mattis purus lacinia, ut commodo
    justo semper. Nulla nec lectus odio. Sed lobortis nisi eu nisi pulvinar
    consequat. Curabitur dolor ex, tristique at sagittis nec, tempus vitae
    magna. Donec augue quam, interdum nec pretium nec, vestibulum eu justo.
    Donec suscipit nisi in velit dictum porttitor. Nam sem risus, hendrerit eget
    tellus eget, condimentum fermentum augue. Curabitur lorem nunc, lobortis
    elementum viverra a, molestie non neque. Nam ac orci elementum, egestas leo
    nec, laoreet sem. Sed egestas metus at egestas scelerisque. Nunc nec
    pellentesque turpis, non rutrum libero. Vestibulum finibus, dolor in mollis
    placerat, risus justo viverra erat, quis consequat purus dolor sit amet leo.
    Maecenas nec risus a sapien varius malesuada a nec enim. Vestibulum
    vulputate ipsum in rutrum cursus. Praesent eget consequat risus. Vestibulum
    nec venenatis mauris, nec placerat neque. Fusce facilisis sapien augue, non
    venenatis ipsum feugiat eu. Curabitur dapibus quam in lectus fermentum
    fringilla. Pellentesque ante ligula, ultrices et molestie in, bibendum in
    orci. Maecenas malesuada mauris id lobortis consectetur. Etiam egestas augue
    at libero pharetra, porta elementum sapien dignissim.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
